.gray {
  color: #525252;
}

.main-container {
  margin: 25px;
}

#bar {
  margin-top: 50px;
  background: blue;
  height: 100px;
  width: 100px;
}

.form-group {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}